#ifndef UTYPE_H
#define UTYPE_H

#include "defines.h"

//Пользовательские типы
<#userTypes>

//Часто включаемые файлы
#include <stdio.h>
#include <strings.h>
#include <memory.h>

#endif
