#ifndef TPODATA_H
#define TPODATA_H
#include "utype.h"

PROJECT_BEGIN_NAMESPACE
class TPOData
{
public:

        TPOData(int rank);
        ~TPOData();
	int myRank;

        //Указатели на память с данными
        <#varPtr>

private:


        //Initialize memory
        void initMemory();
};
PROJECT_END_NAMESPACE
#endif
