#ifndef UTYPE_H
#define UTYPE_H

#ifdef PARALLEL
#include "mpi.h"
#endif

//Пользовательские типы
<#userTypes>

//Типы MPI
#ifdef PARALLEL
<#mpiTypes>
#endif

//Часто включаемые файлы
#include <stdio.h>
//#include <conio.h>
#include <strings.h>
#include <memory.h>

#endif
