#include "tpodata.h"
#include <string.h>

PROJECT_BEGIN_NAMESPACE
TPOData::TPOData(int rank)
{
myRank = rank;
initMemory();
}

TPOData::~TPOData()
{
<#delete>
}

void TPOData::initMemory()
{
<#initMemory>
}
PROJECT_END_NAMESPACE